/* Image box */
.fakeimg {
      height: 200px;
      background: #3361FF;
}
/* Header/Jumbotron */
.headerContain {
      background: #3361FF;
      opacity: .75;
}
/* Navigation bar */
.navContain {
      background: #3361FF;
      opacity: .9;
}
/* Description character limit */
.ellipsis {
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
