<html>
	<body>
		<h2 align="center">Index of the Breeds</h2>
			<input type="text" id="myInput" ng-keyup="Search()" placeholder="Search by Breed..">
			<br></br>
				<div align="left" class="table-responsive">
    				<table id="dogs" class="table table-striped">
     					<th>Information</th>
     					<th>Breed</th>
     					<th>Size</th>
     					<th>Life Span</th>
     					<th>Description</th>
     					<th>Delete Breed?</th>
  							<tr ng-repeat="x in success">
								<!-- Hide the object ID because I couldn't think of how
								to get it unless I just included it with the "get" of the 
								information  -->
  								<td ng-show="false"> {{ x._id }}</td>
								<!-- If you click on the info button, it will get the
								information from the given table and scroll up to the left
								column -->
  								<td><button type="button" class="btn btn-info" data-ng-click="Select($index)" 
  								onClick="document.getElementById('info').scrollIntoView();">Info</button></td>
   								<td>{{ x.breed }}</td>
   								<td>{{ x.size }}</td>
    							<td>{{ x.lifespan}}</td>
								<!-- Limit the description characters -->
    							<td class="ellipsis">{{x.description}}</td>
								<!-- Delete button -->
    							<td><button type="button" class="btn btn-danger" data-ng-click="Delete($index)">
    							Delete</button></td>
  							</tr>
					</table>
				</div>
	</body>
</html>
